@media ( max-width:426px ) {
    .banner h1{
        font-size: 30px;
        text-transform: uppercase;
    }
    .container{
        width: 100%;
        padding: 10px;
    }
    .gallery-card{
        width: 100%;
        padding: 10px;
    }
    .navbar ul li a{
        text-decoration: none;
        border: 1px solid black;
        padding: 5px;
        margin: 0 5px;
        display: block;
        color: black;
        font-weight: bold;
    }
    .box{
        width: 100%;
    }
}